<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=1">
    <!-- đọc cấu hình thiết bị-->
    <title>New Messages</title>
    <!-- thự viện font icon-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="../css/style.css">

    <link rel="stylesheet" type ="text/css" href="css/jquery.dataTables.min.css">
    <script type="text/javascript" src="../js/jquery-3.2.0.min.js"></script>
    <script type="text/javascript" src="../js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../js/jquery.dataTables.min.js"></script>
    
</head>

<body>
    <div class="container">
		<div class="row">
			<div class="col-md-12" style="background-color: black;color: white;">
				<div class="header_right pull-right">
					<ul class="parent">
						<div>
							<% if (user) { %>
                        		<span>Hello! </span>
                        		<strong><img src="<%= user.user_avatar %>" alt="avatar" style="width: 30px; height: 30px"><%= user.user_name %></strong>
                        		<a href="/logout" style="color: #999"><span class="glyphicon glyphicon-log-out"></span> Logout </a>
                    		<% } %>

                    		<% if (!user) { %>
								<a href="/login" style="color: #999"><span class="glyphicon glyphicon-user"></span> Login </a> | 
								<a href="/signup" style="color: #999"><span class="glyphicon glyphicon-pencil"></span> SignUp </a>
                    		<% } %>
						</div>
					</ul>
				</div>
			</div>
		</div>
		<!-- end row -->
		
        <div class="row">
            <div class="col-md-12">
                <% include ./partials/navbar %>
            </div>
			<!-- end  col-md-12-->
        </div>
		<!-- end  row-->    
		
		<div class="row">
            <div class="col-md-3">
				<div class="navbar-collapse navbar-default well" id="sidebar" style="margin-left:30px;">
					<ul class="nav nav-list">
						<li><a href="/messages/inbox-messages"><i class="fa fa-envelope"></i> Inbox Messages </a></li>
						<li><a href="/messages/new-messages"><i class="fa fa-send"></i> New Messages </a></li>
						<li><a href="/messages/sent-messages"><i class="fa fa-archive"></i> Sent Messages </a></li>
						<li><a href="/messages/friends"><i class="fa fa-users"></i> Friends </a></li>
					</ul>
				</div>
            </div>
            <!-- end col-md-3 -->


            <!-- content 9col -->
            <div class="col-md-9">
           		<div class="well">
	                <h1 class="text-center" > Write new messages </h1>
					<form action="" method="post" role="form" enctype="application/x-www-form-urlencoded">
						<div class="form-group">
								<label>To Friend: </label>
								<select name="receiver_id" class="form-control select2">
								<% friends_list.rows.forEach(function(item){ %>
                    				<option value="<%= item.friend_id %>"><%= item.friend_name %> - <%= item.friend_email %></option>
                				<% }); %>
								</select>
						</div>
						<div class="form-group">
							<label>Content: </label>
							<textarea class="form-control" id="content" name="content"  rows="2" placeholder="Exp: Hello!. My name is Kuga, nice to know you" required></textarea>
						</div>
						<button type="submit" class="btn btn-primary">Send</button>
	                </form>
	            </div>
			</div> 
            <!--end  9col-->
        </div>
		
		
		<!-- footer--> 
		<div class="row">
			<div class="col-md-12">
				<div class="text-center">
					<ul class="list-inline banner-social-buttons">
					<li><a href="https://twitter.com"><i class="fa fa-twitter-square" style="color:blue; font-size:48px"></i></a></li>
					<li><a href="https://plus.google.com"><i class="fa fa-google-plus-official" style="color:red; font-size:48px"></i> </a></li>
					<li><a href="https://facebook.com/langtudatinh2060"><i class="fa fa-facebook-official" style="color:blue; font-size:48px"></i></a></li>
					</ul>
				</div>
			</div>
			<div class="col-md-12">
				<p class="copyright">2017 Powered By Blue Group, Theme By Bootstrap</p>
			</div>	
			<!-- end col-md-12 -->
		</div>
		<!-- end row -->

    </div>
    <!-- end container -->
</body>
</html>